.highlight {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 1rem;
    overflow-x: auto;
}

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #408090; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #007020; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .cm { color: #408090; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #007020; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #408090; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408090; font-style: italic } /* Comment.Special */
.highlight .gd { color: #a61717; background-color: #e3d2d2 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #a61717 } /* Generic.Error */
.highlight .gh { color: #303030 } /* Generic.Heading */
.highlight .gi { color: #007020; background-color: #e3d2d2 } /* Generic.Inserted */
.highlight .go { color: #303030 } /* Generic.Output */
.highlight .gp { color: #303030; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #303030 } /* Generic.Subheading */
.highlight .gt { color: #a61717 } /* Generic.Traceback */
.highlight .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #007020; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #007020; font-weight: bold } /* Keyword.Type */
.highlight .ld { color: #007020; font-weight: bold } /* Literal.Date */
.highlight .m { color: #007020 } /* Literal.Number */
.highlight .s { color: #007020 } /* Literal.String */
.highlight .na { color: #408090 } /* Name.Attribute */
.highlight .nb { color: #007020 } /* Name.Builtin */
.highlight .nc { color: #007020; font-weight: bold } /* Name.Class */
.highlight .no { color: #007020 } /* Name.Constant */
.highlight .nd { color: #007020; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #007020 } /* Name.Entity */
.highlight .ne { color: #007020; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #007020; font-weight: bold } /* Name.Function */
.highlight .nl { color: #007020 } /* Name.Label */
.highlight .nn { color: #007020; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #007020; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #007020 } /* Name.Variable */
.highlight .ow { color: #007020; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #007020 } /* Literal.Number.Float */
.highlight .mh { color: #007020 } /* Literal.Number.Hex */
.highlight .mi { color: #007020 } /* Literal.Number.Integer */
.highlight .mo { color: #007020 } /* Literal.Number.Oct */
.highlight .sb { color: #007020 } /* Literal.String.Backtick */
.highlight .sc { color: #007020 } /* Literal.String.Char */
.highlight .sd { color: #007020; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #007020 } /* Literal.String.Double */
.highlight .se { color: #007020; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #007020 } /* Literal.String.Heredoc */
.highlight .si { color: #007020 } /* Literal.String.Interpol */
.highlight .sx { color: #007020 } /* Literal.String.Other */
.highlight .sr { color: #007020 } /* Literal.String.Regex */
.highlight .s1 { color: #007020 } /* Literal.String.Single */
.highlight .ss { color: #007020; font-weight: bold } /* Literal.String.Symbol */
.highlight .bp { color: #007020 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #007020 } /* Name.Variable.Class */
.highlight .vg { color: #007020 } /* Name.Variable.Global */
.highlight .vi { color: #007020 } /* Name.Variable.Instance */
.highlight .il { color: #007020 } /* Literal.Number.Integer.Long */